body
{
    
    text-align: center;
    
    
}

.main
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main h1
{
    font-size: 45px;
}

.input_box
{
    height: 20px;
    width: 150px;
}

table, th, td
{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    font-size: 25px;
} 